<div class="label-container">
  <label class="slider-label">{{ label }}</label>
  <span *ngIf="optional" class="slider-optional-label">(Opcional)</span>
</div>
  
<div class="input-container" *ngIf="value">
  
  <span class="value-label" *ngIf="!hideValues">{{ minValue }}</span>

  <div class='sliders-container'>

    <input 
      class="hidden-range" 
      name="min"  
      [(ngModel)]="value.min"
      (change)="onValueChange($event)"
      [disabled]="disabled"
      type="range" 
      [max]="max" 
      [min]="min" 
      step="1" 
    />

    <input 
      class="main" 
      name="max"   
      [(ngModel)]="value.max"
      (change)="onValueChange($event)"
      [disabled]="disabled"
      type="range" 
      [max]="max" 
      [min]="min" 
      step="1"  
      [ngStyle]="fillSelectRangeStyle" 
    />

  </div>

  <span class="value-label" *ngIf="!hideValues">{{ maxValue }}</span>

</div>