<div class="label-container" style="display: flex; flex-direction: row;">
  <label class="slider-label" style="flex: 1;">{{ label }}</label>
  <span *ngIf="optional" style="font-style: italic; font-size: 90%">(Opcional)</span>
</div>
  
<div class="input-container" *ngIf="value">
  <span *ngIf="!hideValues">{{ minValue }}</span>

  <div class='sliders-container'>

    <input 
      class="hidden-range" 
      name="min"  
      [(ngModel)]="value.min"
      (change)="onValueChange($event)"
      [disabled]="disabled"
      type="range" 
      [max]="max" 
      [min]="min" 
      step="1" 
    />

    <input 
      class="main" 
      name="max"   
      [(ngModel)]="value.max"
      (change)="onValueChange($event)"
      [disabled]="disabled"
      type="range" 
      [max]="max" 
      [min]="min" 
      step="1"  
      [ngStyle]="minStyle" 
    />

  </div>

  <span *ngIf="!hideValues">{{ maxValue }}</span>

</div>


<!-- <br/>
//Resources
<p>http://jsfiddle.net/abhitalks/a1f1k8d0/2/ </p>
<p>https://css-tricks.com/multi-thumb-sliders-particular-two-thumb-case/</p>

https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html


HOT -> 
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ -->