
.label-container {
  display: flex; 
  flex-direction: row;

  .slider-label {
    flex: 1;
  }
  .slider-optional-label {
    font-style: italic; 
    font-size: 90%;
  }

}


.sliders-container {
  position: relative;
  display: block;
  width: 100%;
}


.input-container {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-items: center;
  margin-top: 4px;
  
  .value-label {
    min-width: 20px;
  }
  .value-label:first-child {
    margin-right: 4px;
  }
  .value-label:last-child {
    margin-left: 4px;
    text-align: end;
  }
}

.slider-label {
  font-weight: bold;
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


@mixin thumb {
  height  : $base-thumb-size;
  width   : $base-thumb-size;
  border-radius: $thumb-border-radius;
  background: $thumb-color;
  cursor: pointer;
}

@mixin thumbDisabled {
  cursor: not-allowed;
  background: $disabled-color;
}

@mixin thumbFocused {
  height: 16px;
  width: 16px;
}


$base-thumb-size: 12px;
$thumb-border-radius: 100%;
$thumb-color: #2F9ABE;
$disabled-color: #B6BDBF;
$track-color: #ECEEEE;
$track-width: 100% !default;
$track-height: 4px !default;
$track-radius: 5px !default;

@mixin track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-radius: 2px;
}

input[type="range"] {
  &::-webkit-slider-thumb {
    @include thumb;
    margin-top: -4px; 
  }
  &::-moz-range-thumb {
    @include thumb;
    border: none;
  }
  &::-ms-thumb {
    @include thumb;
  }
  &::-webkit-slider-runnable-track {
    @include track;
  }
  &::-moz-range-track {
    @include track;
    border: 8px solid $track-color;
  }
  &::-ms-track {
    @include track;
  }

  &:disabled {
    &::-webkit-slider-thumb {
      @include thumbDisabled;
    }
    &::-moz-range-thumb {
      @include thumbDisabled;
    }
    &:disabled::-ms-thumb {
      @include thumbDisabled;
    }
  }
  
  &:focus {
    &::-webkit-slider-thumb {
      @include thumbFocused;
      margin-top: -6px; 
    }
    &::-moz-range-thumb {
      @include thumbFocused;
    }
    &::-ms-thumb {
      @include thumbFocused;
    }
  }
}

@mixin hiddenThumb {
  z-index: 1;
  pointer-events: all;
}

@mixin hiddenTrack {
  z-index: -10;
  pointer-events: none;
}

.hidden-range {
  position: absolute;
  z-index: 1;
  pointer-events: none;

  &::-webkit-slider-thumb {
    @include hiddenThumb;
  }
  &::-moz-range-thumb {
    @include hiddenThumb;
  }
  &::-webkit-slider-runnable-track {
    @include hiddenTrack;
  }
  &::-moz-range-track {
    @include hiddenTrack;
    visibility: hidden;
  }
  &:focus::-webkit-slider-runnable-track {
    @include hiddenTrack;
  }
  
}


@mixin mainThumb {
  z-index: 0;
  pointer-events: all;
}

@mixin mainTrack {
  z-index: -11;
  pointer-events: none;
}

.main {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  &::-webkit-slider-thumb {
    @include mainThumb;
  }
  &::-moz-range-thumb {
    @include mainThumb;
  }
  &::-webkit-slider-runnable-track {
    @include mainTrack;
  }
  &:focus::-webkit-slider-runnable-track {
    @include mainTrack;
  }
}


